<div class="create">
    <h2>THÊM SẢN PHẨM</h2>
    <form method="POST" action="/product/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input name="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Link ảnh</label>
            <input name="img" type="text" class="form-control" id="link_img">
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Số lượng</label>
            <input name="quantity" type="number" class="form-control" id="quantity">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá</label>
            <input name="price" type="number" class="form-control" id="price">
        </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
    </form>
</div>